* {
    padding:0;
    margin:0;
}

.img-circle {
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 50%;
    width: 30%; /* you can use % */
    height: auto;
    z-index: 2;
    padding: 0;
    position: relative;
    box-shadow: 0px 0px 0px 3px #FFFFFF;
    display:block;
    margin:auto;
    margin-bottom: 5%;
}

.intro_words{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 9em;
  color: white;
  padding: 0;
  line-height: 1em;
  z-index: 2;
  position: absolute;
  width: 100%;
  text-align: left;
  padding-left: 3%;
}

.navbar{
  padding:0;
  margin:0;
  background-color: transparent !important;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 3;
  margin-bottom: 0;
  border: 0;
  align-items: center;
  justify-content: center;
}

.menublack{
  background-color:rgb(28,28,28) !important;
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.5);
  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.5);
  box-shadow:0px 2px 2px rgba(0,0,0,0.5);
  transition: all 1s;
  -moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.topbar{
  width: 100vw;
  height: 8%;
  z-index: 3;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: flex;
  top:0;
}
.container{
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbarContainer{
  width: 70%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
}

.page-title{
  font-family: 'Lato', sans-serif;
  color: white;
  position: relative;
  vertical-align: middle;
  z-index: 3;
  width: 30%;
  min-width: 160px;
  margin: 10px;
}

.page-items{
  display: inline-block;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
  line-height: 80px;
}

a.navbar-button
{
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  color: white;
}

a.navbar-button:focus
{
  color: white;
  text-decoration: none;
}

a.navbar-button:hover
{
  color: #4885f9;
  text-decoration: none;
}

a.navbar-button:active
{
  color: #fca10f;
}

a.navbar-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid;
  transition: 0.4s;
}

a.navbar-button:hover:after {
  width: 100%;
}

.navbar-items{
  text-align: center;
}

.navbar-inverse .navbar-nav>li>a{
    color: white !important;
    line-height: 26px !important;
}

.navbar-toggle:focus{
  background-color: transparent !important;
}

.navbar-nav>li>a{
  padding: 15px 10px !important;
}

.navbar-inverse{
  background-image: none !important;
  border: 0 !important;
}

.navbar-toggle
{
  background-image: none !important;
  border: 0 !important;
}
.intro_container{
  display: flex;
  flex-direction: row;
  align-items: left;
  width:100%;
  position: fixed;
  z-index: 2;
}

.credits{
  font-family: 'Lato', sans-serif;
  position: fixed;
  color: rgb(112,112,112);
  bottom: 0;
  right: 10px;
}

#tempIndicator{
  z-index: 3;
  position: relative;
  font-family: 'Lato', sans-serif;
  color: white;
  left: 40px;
}

#dateIndicator{
  z-index: 3;
  position: absolute;
  font-family: 'Lato', sans-serif;
  color: white;
  left: 3%;
}

#icon{
  position: absolute;
  left: 0;
}

.weatherIcon{
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 3;
}

.weatherDiv
{
  position: absolute;
  width: 100%;
  left: 3%;
}

.text_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 375px;
  position: absolute;
  width: 100%;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.intro_text{
  margin: 1em;
  font-size: 1.2em;
  line-height: 180%;
  text-decoration: none;
  position: relative;
}

.about_section{
  background-color: rgb(18,18,18);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_section{
  background-color: rgb(32,32,32);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work_section{
  background-color: rgb(18,18,18);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_section{
  width: 100%;
  background-color: rgba(32,32,32,0.2);
  text-align: center;
  padding-bottom: 3%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown_section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer{
  width: 100%;
  text-align: center;
  background-color:rgb(12,12,12);
}


.footer_details{
  font-size: 0.7em;
  margin-top: 10px;
}

@keyframes md_rec1 {
    0%   {width: 0px;}
    100% {width: 115px;}
}
@keyframes md_rec2 {
    0%   {width: 0px;}
    100% {width: 130px;}
}
@keyframes md_rec3 {
    0%   {width: 0px;}
    100% {width: 125px;}
}
@keyframes md_rec4 {
    0%   {width: 0px;}
    100% {width: 115px;}
}
@keyframes md_rec5 {
    0%   {width: 0px;}
    100% {width: 100px;}
}
@keyframes md_rec6 {
    0%   {width: 0px;}
    100% {width: 115px;}
}
@keyframes md_rec7 {
    0%   {width: 0px;}
    100% {width: 75px;}
}
@keyframes md_rec8 {
    0%   {width: 0px;}
    100% {width: 105px;}
}

.stat_bullets
{
  margin: 0px 0;
}

.detail_bullets
{
  margin: 5px 0;
}

.work_title{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  /* margin-top: 3%; */
  margin-top: 20px;
}

.project_title{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  /* margin-top: 3%; */
  margin-top: 20px;
}

.item_section
{
  max-width: 900px;
  margin: 40px;
}

.item_section2
{
  margin: 40px;
  max-width: 1000px;
}

.skill {
    border: 1px solid #FFF;
    margin-right: 10px;
    text-transform: uppercase;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.33333em;
    padding: 7px 14px;
    margin-top: 0.8em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

a:focus{
    text-decoration: none;
}

.item_container2
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}

.item_container
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}

.item_stat_container
{
  min-width: 255px;
  margin: 2em;
  font-size: 0.8em;
}

.stats{
  list-style-type: none;
  -webkit-padding-start: 0px;
}

.item_image_container_project_1{
  background-image: url("./images/Enercare_Project.jpg");
  background-position: center center;
  background-size: cover;
  flex-basis: 35%;
  flex-grow: 1;
  max-width: 280px;
  min-width: 280px;
  min-height: 300px;
}

.item_image_container_project_2{
  background-image: url("./images/KTCS_Project.png");
  background-position: center center;
  background-size: cover;
  flex-basis: 35%;
  flex-grow: 1;
  max-width: 280px;
  min-width: 280px;
  min-height: 300px;
}

.item_image_container_project_3{
  background-image: url("./images/Python_Project.jpg");
  background-position: center center;
  background-size: cover;
  flex-basis: 35%;
  flex-grow: 1;
  max-width: 280px;
  min-width: 280px;
  min-height: 300px;
}

.item_image_container1
{
  background-image: url("./images/QueensU_crest.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 260px;
  margin: 2em;
}

.item_image_container2
{
  background-image: url("./images/Enercare.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 260px;
  margin: 2em;
}

.item_image_container3
{
  background-image: url("./images/ESDC.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 260px;
  margin: 2em;
}

.item_details
{
  font-family: 'Open Sans', sans-serif;
  position: relative;
  padding: 1em;
}

.item_details2
{
  font-family: 'Open Sans', sans-serif;
  position: relative;
  padding: 0;
}

.item_details_title
{
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.MD_rectangle{
  position: relative;
  max-width: 160px;
  height: 11px;
  left: 120px;
  top: -13px;
  background: white;
  margin-right: 0;

}
@media (min-width: 1601px) {
  .intro_container{
    max-width: 70%;
  }
  .intro_words{
    left: 0;
    max-width: 900px;
  }
  .item_stat_container{
    margin-left: 50px;
  }
  .item_details2{
    margin-right: 50px;
  }
  .twinkling{
    margin-top: -50px;
  }
}
@media (max-width: 1600px) {
  .intro_container{
    max-width: 70%;
  }
  .intro_words{
    left: 0;
    max-width: 900px;
  }
  .item_stat_container{
    margin-left: 50px;
  }
  .item_details2{
    margin-right: 50px;
  }
  .img-circle {
    width: 25%;

  }
}

@media (max-width: 1200px) {
  .item_container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .item_image_container1{
    min-height: 200px;
  }
  .item_image_container2{
    min-height: 200px;
  }
  .item_image_container3{
    min-height: 200px;
  }
  .skill_align{
    text-align: center;
  }
  .intro_container{
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .item_container2
  {
    flex-wrap: wrap;
  }
  .item_details2
  {
    max-width: 350px;
  }
  .item_details2{
    margin-right: 0;
  }
  .navbar-nav>li>a{
    padding: 10px 10px !important;
  }
  .twinkling{
    top: -100px !important;
  }
  .credits{
    display: none !important;
  }
  .earth{
    height: 370px !important;
  }
  .background{
    background-position: 33% 50% !important;
  }
}

@media (max-width: 674px) {
  .navbar-collapse{
   background-color: rgba(32,32,32,0.6);
   }
  .img-circle {
    width: 50%;
  }
  .intro_words{
    font-size: 6em;
  }
  .intro_text
  {
    font-size: 1.1em;
  }
  .page-title{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
  }
  .item_details
  {
    font-size: 0.9em;
  }
  h1.page-title{
    position: relative;
    top: 3px;
  }
  .text_container{
    width: 100%;
  }
  .item_section
  {
    margin: 20px;
  }
  h2.work_title
  {
    margin-top: 10%;
  }
  .item_stat_container{
    margin: 2em;;
  }
  .contact_section{
    font-size: 0.8em;
  }
  .item_image_container1{
    min-height: 180px;
  }
  .item_image_container2{
    min-height: 100px;
  }
  .item_image_container3{
    min-height: 100px;
  }
  .item_image_container_project_1{
    max-height: 240px !important;
    width:100%;
  }
  .twinkling{
    height: 500px !important;
  }
  .earth{
    height: 300px !important;
  }
  .background{
    background-position: 36% 50% !important;
  }
}

.demo a {
  position: relative;
  top: 3.2em;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 'Open Sans', sans-serif;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  color: white;
  text-decoration: none;
}

.demo a:focus{
  color: white;
  text-decoration: none;
}

#section05{
  height: 90px;
}

#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.background{
  background: url("./images/Main_Background.jpg");
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  z-index: 1;
  position: fixed;;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 375px;
}

.twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  display:block;
}

.earth{
  background: url("./images/Earth_Orbit.png");
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height: 300px;
  z-index: 3;
}

.twinkling{
  background:transparent url(./images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 400s linear infinite;
  -ms-animation:move-twink-back 400s linear infinite;
  -o-animation:move-twink-back 400s linear infinite;
  -webkit-animation:move-twink-back 400s linear infinite;
  animation:move-twink-back 400s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

#intro_text_a{
  text-decoration: none;
}

#homeLink{
  text-decoration: none;
  color: white;
}

a, a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  position: relative;
}

.intro_text a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid;
  transition: 0.4s;
}

.intro_text a:hover:after {
  width: 100%;
}

.item_section a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid;
  transition: 0.4s;
}

.item_section a:hover:after {
  width: 100%;
}

.cool-link a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid;
  transition: 0.4s;
  text-decoration: none;

}

.cool-link a:hover:after {
  width: 100%;
  text-decoration: none;
}
